body {
	margin: 1.2em auto;
	font-family: 'Open Sans', Roboto, Arial;
  font-size: 1.64em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Dosis', Roboto, Arial;
}

pre {
	background: none;
	color: green;
	border: none;
	font-weight: bold;
}

div[class^='mypad-left-zero'] {
	padding-left: 0;
}

div[class^='mypad-right-zero'] {
	padding-right: 0;
}

@media screen and (max-width: 768px) {
	div[class*='col-sm'] {
		padding: 0;
	}
}

@media screen and (min-width: 1200px) {
	div[class*='col-md'], div[class*='col-lg'] {
		padding: 5px;
	}
}

@media screen and (min-width: 1200px){
}

.myshort {
	padding: 1.2em 0;
}

.mypic {
	width: 120px;
	height: 120px;
}

.myname {
	text-transform: uppercase;
	font-weight: bold;
}

h1.myname {
	font-size: 200%;
}

.mypanel h1 {
  font-weight: bolder;
  font-size: 250%;
}

.mypanel h3 {
  margin-top: -10px;
  margin-bottom: 30px;
}

.mydesc {
	text-transform: lowercase;
	font-weight: normal;
	opacity: 0.5;
}

.myborderless {
  border: none;
}

.mytabs {
	display: block;
	width: 100%;
	font-size: 110%;
}

.mytabs li {
	list-style: none;
	display: inline-block;
	padding: 1.4em;
}

.mynavs {
	z-index: 999;
	position: absolute;
}

.mynavs button {
	background-color: #f5f5f5;
	font-size: 150%;
}

.mymenu ul li {
	background-color: #f5f5f5;
	width: 260px;
	border: none;
}

.mymenu ul li:hover {
	background-color: #c0c0c0;
	width: 260px;
	border: none;
}

.mymenu ul li a {
	text-decoration: none;
	color: inherit;
}
